.commentsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    margin: 0 0 0 50px;
    height: 74vh;
    overflow: hidden;
}

.starAverage{
    font-size: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.commentsSubject{
    width: 100%;
    margin-left: 50px;
    margin-top: 30px;
    height: 50vh;
}

.commentAmounts{
    margin-left: 110px;
    margin-top: 50px;
    padding: 23px;
}

.starBox2{
    position: absolute;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 350px;
  }
    

.comments{
    display: flex;
    flex-direction: column;
    min-width: 25%;
    padding: 0 8px;
    overflow: hidden;
    margin-left: 250px
}

.writeTime{
    color: rgb(177, 177, 177);
}

.commentBox{
    width: 70%;
    height: 3vh;
    margin-bottom: 70px;
    font-size: 20px;
    font-weight: 300;
}

.commentsdetail{
    width: 50%;
}

