.modalCommentsContainer{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    border-radius: 20px;
    padding: 30px;
    
}

.Xbutton{
  margin-bottom: 10px;
  background-color: white;
  width: 25px;
  border-radius: 20px;
  border-color: white;
  border-style: none;
}

.Xbutton:hover{
  background-color: #eee;
}

.starAverage{
  display: inline-block;
  width: 50px;
}

.detailSearch{
  background-color: #eee;
  margin: -38px 0 80px 100px;
  width: 600px;
  height: 50px;
  border-radius: 30px;
  border: 3px solid black;
  
}

.makeItRow2{
  display: flex;
  flex-direction: row;
}

.modalComments{
  width: 500px;
  display: flex;
  flex-direction: column;
}

.modalCommentsBox{
  width: 100%;
  height: 70px;
}

.detailCommentsContainer{
  display: flex;
  margin: 0 0 50px 251px;
}

.detailComments{
  width: 530px;
}

.detailButtons{
  position: relative;
}