.modalCommentsContainer{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    padding: 30px;
    
}

.Xbutton{
  margin-bottom: 10px;
  background-color: white;
  width: 25px;
  border-radius: 20px;
  border-color: white;
  border-style: none;
}

.Xbutton:hover{
  background-color: #eee;
}

.starAverage{
  display: inline-block;
  width: 50px;
}

.detailSearch{
  background-color: #eee;
  margin: -38px 0 80px 100px;
  width: 600px;
  height: 50px;
  border-radius: 30px;
  border: 3px solid black;
  
}
.starBox{
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 350px;
}

.star1, .star2, .star3, .star4, .star5{
  width: 200px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.232);
  border: 1px solid none;
  margin-top: 30px;
}

.star1_1, .star2_2, .star3_3, .star4_4, .star5_5{
  width: 150px;
  height: 5px;
  background-color: rgba(36, 39, 181, 0.925);
  border: 1px solid none;
  margin-top: 30px;
  position: relative;
  top: -175px;
  
}

.makeItRow2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modalComments{
  width: 500px;
  display: flex;
  flex-direction: column;
}




.detailCommentsContainer{
  display: flex;
  margin: 0 0 50px 251px;
}

.detailComments{
  width: 530px;
}

.detailButtons{
  position: relative;
}

.modalAllComments{
  margin: -370px 0 0 0;
}