.writeCommentsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    height: 70vh;
    overflow: hidden;
    padding: 60px 100px 0 0;
    margin-left: 0px;
        z-index: 3;
}

.writeCommentsHeader{
  height: 100vh;
}

.writeBox{
  height: 100px;
  margin-top: 30px;
  border-radius: 10px;
}

.rangeBar{
  margin: 10px 0 0 0;
}

.starPoint{
  margin: 5px 0 10px 0;
  text-align: right;
  color: tomato;
}

.writeXbutton{
    background-color: white;
    width: 25px;
    border-radius: 20px;
    border-color: white;
    border-style: none;
    margin-bottom: 10px;
  }
  
  .writeXbutton:hover{
    background-color: #eee;
  }

  .submitButton{
    background-color: #ff385c;
    border: none;
    color: white;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 3;
  }